@model dynamic

@{
    ViewBag.Title = "New Rental";
}

<h2>New Rental</h2>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<form id="newRental">
    <div class="form-group">
        <label>Customer</label>
        <div class="tt-container">
            <input id="customer" name="customer" data-rule-validCustomer="true" required type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="form-group">
        <label>Book</label>
        <div class="tt-container">
            <input id="book" name="book" data-rule-atLeastOneBook="true" type="text" value="" class="form-control" />
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <ul id="books" class="list-group"></ul>
        </div>
    </div>

    <button class="btn btn-primary">Save</button>
</form>
@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
    <!-- TWITTER TYPEAHEAD PLUGIN FOR AUTO-COMPLETION-->
    <script>
        $(document).ready(function () {

            var vm = {
                bookIds: []
            };

            var customers = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/customers?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#customer').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'customers',
                display: 'name',
                source: customers
            }).on("typeahead:select", function (e, customer) {
                vm.customerId = customer.id;
            });

            // BOOK AUTOCOMPLETE
            var books = new Bloodhound({
                datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
                queryTokenizer: Bloodhound.tokenizers.whitespace,
                remote: {
                    url: '/api/books?query=%QUERY',
                    wildcard: '%QUERY'
                }
            });

            $('#book').typeahead({
                minLength: 3,
                highlight: true
            }, {
                name: 'books',
                display: 'name',
                source: books
            }).on("typeahead:select", function (e, book) {
                $("#books").append("<li class='list-group-item'>" + book.name + "</li>");
                $("#book").typeahead("val", "");
                vm.bookIds.push(book.id);
            });

            $.validator.addMethod("validCustomer",
                function () {
                    return vm.customerId && vm.customerId !== 0;
                },
                "Please select a valid customer.");

            $.validator.addMethod("atLeastOneBook",
                function () {
                    return vm.bookIds.length > 0;
                },
                "Please select at least one book.");

            var validator = $("#newRental").validate({
                submitHandler: function () {
                    $.ajax({
                        url: "/api/newRentals",
                        method: "post",
                        data: vm
                    })
                        .done(function () {
                            swal({
                                icon: "success",
                                text: "Rental successfully added!"
                            });

                            // RESETS THE FORM
                            $("#customer").typeahead("val", "");
                            $("#book").typeahead("val", "");
                            $("#books").empty();

                            vm = { bookIds: [] };

                            validator.resetForm();
                        })
                        .fail(function () {
                            swal({
                                icon: "error",
                                text: "Something went wrong, double check your entries and try again!"
                            });
                        });
                    // PREVENTS THE FORM FROM SUBMITTING NORMALLY
                    return false;
                }
            });

        });
    </script>
    <!-- /// -->
}
